@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <p>HEllo</p>
    <ul>
        @foreach(var course in Model)
        {
            <li>
                @course.DateTime - @course.Lectuer.Name
            </li>
        }
    </ul>
</div>
